<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <link type="text/css" rel="stylesheet" href="//www.gstatic.com/freebase/suggest/4_2/suggest.min.css" />
    <script type="text/javascript" src="//www.gstatic.com/freebase/suggest/4_2/suggest.min.js"></script>
    <script type="text/javascript">
      $(function() {
      $("#artist").suggest({filter:'(all type:/music/artist type:/music/artist type:/music/artist type:/music/artist type:/music/artist type:/music/artist type:/music/artist type:/music/artist)'});
      });
    </script>
    <title>Songku</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <h1>Songku</h1>
      </div>
      <div class="row-fluid">
        <form>
          <div class="form-group">
            <label for="artist">Artist</label>
            <input type="text" class="form-control" id="artist" name="artist" placeholder="Enter artist name" value="{{ artist }}">
          </div>
          <button type="submit" class="btn btn-default">Get haiku</button>
        </form>
      </div>
      <div class="row-fluid">
        {% for track in tracks %}
        <p>{{track}}</p>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
